<div cdkDropListGroup>
    <div class="example-container">
        <h2 class="mb-2">Playing 11</h2>

        <div cdkDropList [cdkDropListData]="playing11" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (item of playing11;let i = $index; track item) {
            <div class="example-box" cdkDrag>

                <div>
                   <div class="inline-block px-1"> {{i+1+ '.'}}</div> {{item.name}} {{item.is_captain ? '(c)' : ''}} <span class="opacity-50 font-bold"> ({{teamService.playerRoles[item.role_id - 1]}})</span>
                </div>
                <span> 
                    <p-badge icon="pi pi-star-fill" class="mr-1" value="{{item.player_rating}}"></p-badge>
                    <!-- <p-badge value="{{teamService.playerRoles[item.role_id - 1]}}" /> -->
                    
                    ({{item.price | indianCurrencyRupee}})</span>

            </div>


            }
        </div>
    </div>
    <div class="example-container">
        <h2 class="mb-2">Players</h2> 

        <div cdkDropList [cdkDropListData]="players" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (item of players; let i = $index; track item) {
            <div class="example-box" cdkDrag>{{i+1+ '.'}} {{item.name}}{{item.is_captain ? '(c)' : ''}} 

                <span> ({{item.price | indianCurrencyRupee}})</span>
            </div>

            }
        </div>
    </div>


</div>