<div class="container m-5">
    <div class="lg:w-3">
        <div class="card flex justify-center mb-5">
            <p-select [options]="teams" [(ngModel)]="selectedTeam" scrollHeight="400px" optionLabel="name" (onChange)="onTeamChange(selectedTeam)" placeholder="Select a country" class="w-full md:w-56">
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2" *ngIf="selectedOption">
                        <!-- <img
                            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + selectedOption.code.toLowerCase()"
                            style="width: 18px"
                        /> -->
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country #item>
                    <div class="flex items-center gap-2">
                        <!-- <img
                            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + country.code.toLowerCase()"
                            style="width: 18px"
                        /> -->
                        <div>{{ country.name }}</div>
                    </div>
                </ng-template>
                <ng-template #dropdownicon>
                    <i class="pi pi-map"></i>
                </ng-template>
                <!-- <ng-template #header>
                    <div class="font-medium p-3">Available Countries</div>
                </ng-template> -->
                <ng-template #footer  *ngIf="isAdmin">
                    <div class="p-3">
                        <p-button label="Add New" fluid severity="secondary" text size="small" icon="pi pi-plus" />
                    </div>
                </ng-template>
            </p-select>
        </div>
    </div>


    <app-players-page [players]="nonPlaying11" [teamId]="this.teamId" [userId]="currentUser.id" [playing11]="playing11" [isAdmin]="isAdmin"></app-players-page>
</div>